<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org."
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head >
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" href="/css/estiloModal.css" type="text/css" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

</head>

<body background="/images/fondo.png">

	<header th:replace="/layout/layout :: header"> </header>
	
	<footer th:replace="/layout/layout :: footer"> </footer>
</body>
</html>