<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org."
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/layout/layout :: head">
<link rel="stylesheet" th:href="@{/css/estiloModal.css}">
</head>
<body>

	<header th:replace="/layout/layout :: header"> </header>
	<div class="card">
		<img th:src="@{/images/fondo.png}" class="img-fluid" />
		<div class="card-img-overlay">
			<div class="container py-4">

				<div class="card bg-ligth">
					<div class="card-header font-italic">
						<h5>Bandeja de entrada</h5>

							<form class="form-inline" th:if="${indicador == '1'}">
								<input class="form-control mr-sm-2" type="search"
									placeholder="Search" aria-label="Search">
								<button class="btn btn-primary my-2 my-sm-0"
									type="submit">Buscar</button>
							</form>
						
						
					</div>
					<div class="card-body">


						<div class="alert alert-info " th:if="${indicador == '0'}"
							th:text="'No tiene solicitudes para mostrar'"></div>
						<table class="table table-striped" th:if="${indicador == '1'}">

							<thead class="thead-inverse">
								<tr>
									<th>Id</th>
									<th>Tipo Solicitud</th>
									<th>Cliente</th>
									<th>Fecha Registro</th>
									<th>Notificacion</th>
									<th>Motivo</th>
									<th>Estado</th>
									<th>Opciones</th>

								</tr>
							</thead>

							<tbody>
								<tr th:each="solicitud: ${solicitudes}">

									<td th:text="${solicitud.id}"></td>
									<td th:text="${solicitud.tipoSolicitud.descripcion}"></td>
									<td th:text="${solicitud.cliente.nombreYApellido}"></td>
									<td th:text="${solicitud.fechaRegistro}"></td>
									<td th:text="${solicitud.notificacion}"></td>
									<td th:text="${solicitud.motivo.detalle}"></td>
									<td th:text="${solicitud.estadoEvalua.descripcion}"></td>

									<td>

										<div class="dropdown">
											<button class="btn btn-secondary dropdown-toggle"
												type="button" id="dropdownMenuButton" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false"></button>
											<div class="dropdown-menu"
												aria-labelledby="dropdownMenuButton">
												<a sec:authorize="hasRole('ROLE_ATENCION')"
													class="dropdown-item" href="#"
													th:href="@{/solicitud/mostrarParaAtencion/} + ${solicitud.id}"><i
													class="fa fa-search" aria-hidden="true"></i> Ingresar</a> <a
													sec:authorize="hasRole('ROLE_AREA')" class="dropdown-item"
													href="#"
													th:href="@{/solicitud/mostrarParaArea/} + ${solicitud.id}"><i
													class="fa fa-search" aria-hidden="true"></i> Ingresar</a>
											</div>
										</div>

									</td>


								</tr>

							</tbody>

						</table>
						<nav th:replace="paginator-nav :: paginator"></nav>
					</div>
				</div>
			</div>

		</div>
	</div>

	<footer th:replace="/layout/layout :: footer"> </footer>

</body>
</html>