<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org."
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/layout/layout :: head">
</head>
<body background="/images/fondo.png">

	<header th:replace="/layout/layout :: header"> </header>

	<div class="card">

		<div class="card-img-overlay">

			<div class="container py-4">

				<div class="card ">
					<div class="card-header text-center" th:text="${titulo}"></div>
					<div class="card-body">

						<form th:action="@{/solicitud/finalizar}" th:object="${solicitud}"
							method="post" enctype="multipart/form-data">

							<div class="form-group row">

								<label class="col-sm-2 col-form-label">Cliente</label>
								<div class="col-sm-7">
									<input type="text" th:value="*{cliente.nombreYApellido}"
										class="form-control" disabled />
								</div>
							</div>

							<div class="form-group row">

								<label class="col-sm-2 col-form-label">Documento</label>
								<div class="col-sm-3">
									<input type="text"
										th:value="*{cliente.tipoDocumento.descripcion + '/' + cliente.numdoc}"
										class="form-control" disabled />
								</div>

							</div>


							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Telefono</label>
								<div class="col-sm-3">
									<input type="number" th:value="*{cliente.telefono}"
										class="form-control" disabled />
								</div>


								<label class="col-sm-1 col-form-label">Email</label>
								<div class="col-sm-3">
									<input type="email" th:value="*{cliente.email}"
										class="form-control" disabled />
								</div>

							</div>

							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Direccion</label>
								<div class="col-sm-7">
									<input type="text" th:value="*{cliente.direccion}"
										class="form-control" disabled />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Tipo Solicitud</label>
								<div class="col-sm-7">
									<input type="text"
										th:value="${solicitud.tipoSolicitud.descripcion}"
										class="form-control" disabled />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Producto</label>
								<div class="col-sm-7">
									<input type="text" th:value="${solicitud.producto.detalle}"
										class="form-control" disabled />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Motivo</label>
								<div class="col-sm-7">
									<input type="text" th:value="${solicitud.motivo.detalle}"
										class="form-control" disabled />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Medio
									Notificacion</label>
								<div class="col-sm-7">
									<input type="text" th:value="${solicitud.notificacion}"
										class="form-control" disabled />
								</div>
							</div>


							<div class="form-group row">

								<label class="col-sm-2 col-form-label">Detalle</label>
								<div class="col-sm-6">
									<textarea th:field="*{detalle.detalle}" class="form-control"
										placeholder="Ingrese el detalle de su reclamo" disabled> </textarea>

								</div>

							</div>


							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Pedido</label>
								<div class="col-sm-6">

									<textarea th:field="*{detalle.pedido}" class="form-control"
										placeholder="Ingrese el pedido de su reclamo" disabled> </textarea>


								</div>
							</div>

							<div class="form-group row"
								th:if="${not #strings.isEmpty(solicitud.detalle.opinionArea)}">
								<label class="col-sm-2 col-form-label">Opinion</label>
								<div class="col-sm-6">

									<textarea th:field="*{detalle.opinionArea}"
										class="form-control" placeholder="Opinion del area competente"
										disabled> </textarea>


								</div>
							</div>

							<div class="form-group row">

								<label class="col-sm-2 col-form-label">Respuesta</label>
								<div class="col-sm-6">
									<textarea th:field="*{detalle.respuesta}" class="form-control"
										placeholder="Ingrese una respuesta para finalizar la solicitud"> </textarea>
								</div>

							</div>

							<div class="form-group row">
								<label for="archivo" class="col-sm-2 col-form-label">Archivo</label>

								<div class="col-sm-6">
									<input type="file" name="archivo" class="form-control" />
								</div>

							</div>

							<div class="form-group row py-4">
								<div>
									<a class="btn btn-primary px-3"
										th:if="${#strings.isEmpty(solicitud.detalle.opinionArea) && solicitud.tipoSolicitud.descripcion != 'sugerencia'}"
										th:href="@{/solicitud/enviar/} + ${solicitud.id}"> Enviar
										area</a>
								</div>
								<div class="col-sm-4">
									<input type="submit" id="btnguardar" value="Finalizar"
										class="btn btn-success px-3" />
								</div>

							</div>
							<!-- 			<input type="hidden" th:field="*{id}" /> -->

						</form>

					</div>
				</div>
			</div>
		</div>
	</div>



</body>
</html>